[Unit]
Description=RepoSync Watcher
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%h/Repos/reposync
ExecStart=%h/Repos/reposync/reposync watch
Restart=always
RestartSec=5

[Install]
WantedBy=default.target